/* Calendar PHP script */
table.calendar th {
	height: 10px;
	font-size: 7pt;
}
table.calendar td {
	width: 19px;
	height: 10px;
	font-size: 9pt;
}
table.calendar .calendar-month {
	font-weight: bold;
	margin-top: 3px;
	font-size: 12pt;
	text-align: center
}
table.calendar .calendar-month a {
	text-decoration: none
}
table.calendar .calendar-prev, table.calendar .calendar-next {
	font-weight: bold;
}
table.calendar th {
	color: #335588;
	text-align: center;
}
table.calendar td.linkedDay {
	font-size: 9pt
}
table.calendar a {
	color: #000000;
}
table.calendar a:hover {
	text-decoration: underline;
}

/* PREVNEXT??? Checken of dit wel van calendar is en of het gebruikt wordt */
table.prevnext {
	width: 100%;
	margin-top: .3em;
}
table.prevnext td {
	font-size: smaller;
}
table.prevnext td a {
	text-decoration: none
}


/* Calendar in right pane */

#paneCalendar table.calendar {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#paneCalendar table.calendar th {
	font:10px Georgia,Serif;
	color:#F2268E;
}
#paneCalendar table.calendar td {
	font-size:10px;
	color:#8C7777;
	width:19px;
	height:10px;
	padding:1px;
}
#paneCalendar table.calendar .calendar-month {
	font-weight: bold;
	margin-top: 3px;
	font-size: 9pt;
}  
#paneCalendar table.calendar td.currentDay {
	border:solid #8C7777 1px;
}

#paneCalendat table.calendar td a {
	font-size: 20pt;
}


table.calendar td.linkedActivity {
	/* background-color:#E7E7C3; */
}

table.calendar td.linkedActivity a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	background-color: #F2268E;
}
table.calendar td.linkedActivity a:hover {
	color: white;
	text-decoration: none;
	background-color: #E5CDD9;
}

table.calendar td.linkedBirthday a {
	color: white;
	padding: 1px;
	text-decoration: none;
}
table.calendar td.currentDayActivity a {
	border: solid 1px;
	border-color: black;
	color: white;
	padding: 1px;
	text-decoration: none;
	background-color: #F2268E;
}
table.calendar td.currentDayBirthday a { 
	border: solid 1px;
	border-color: black;
	color: white;
	padding: 1px;
	text-decoration: none;
	background-color: #335588;
}
