/* $Id: drupal_g2.css,v 1.2.2.3 2006/09/14 10:31:24 kiz0987 Exp $ */

/**
 * Drupal embeded Gallery2 css overrides.
 * These do not make a perfect theme, but are not bad as a first step.
 */
 /* Increase font size */
 #gallery {
    font-size: 100%;
 }
 
 /* Remove the header */
#gsHeader {
  display: none;
}

/* Removes the Gallery Title (as Drupal displays it)*/
#gallery .gbBlock table h2 {
   display: none;
}

/* Brings h2 back for siteAdmin pages */
#siteAdminForm .gbBlock h2 {
   display: block;
}

/* Do not display the breadcrumb */
#gsNavBar div.gbBreadCrumb {
  display: none;
}

/* The system links ("Site Admin", "Your Album") should no longer float as the 
   breadcrumb has been removed. Just align right */
#gsNavBar div.gbSystemLinks {
  text-align: right;
  float: none;
}

/* .block-gallery is in the sidebar */ 
.block-gallery #gsSidebar {
    border: none;
    width: auto;
    overflow: hidden;
}

.block-gallery div.block-core-ItemLinks {
  margin: 0;
  border-bottom: 1px solid #aaa;
}

.block-gallery .gbBlock {
    padding: 0 5px 3px 5px;
}

/* Navigation Tree */
.block-gallery .dtree {
    font-size: 1em;
}

/* For g2ic_plugin */
img.g2image_float_left, div.g2image_float_left 
{
  float: left;
  margin: 4px;
}

img.g2image_float_right, div.g2image_float_right {
  float: right;
  margin: 4px;
}

img.g2image_centered, div.g2image_centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Neeed to centre images with frames */
.g2image_centered table {
  margin: auto;
}

.g2image_clear_images {
  clear: both;
  }

.post-content img
{
float: left;
clear: both;
margin: 4px;
}

.page-content img
{
float: left;
clear: both;
margin: 4px;
}

/* Embed success, warning, error messages */
.g2_embed_success {
   color: green;
}

.g2_embed_warning {
   color: #f63;
}
.g2_embed_error {
   color: red;
   font-weight: bold;
}

/* Gallery Grid Block */
.gallery-grid-block {
  padding: 1px;
/*  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

/*.gallery-grid-block .image-grid {
  width: 182px;
  width: 300px;
}*/

/*.gallery-grid-block .one-image {
  float: left;
  display: inline;
  padding: 3px;
}*/

/*.gallery-grid-block .one-image {
//  float: left;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1px;
}*/
.gallery-grid-block .one-image {
  margin: 1px;
}

td.gallery-grid-block {
  text-align:center;
}

/* So imageframed thumbs can be centered */
/*td.gallery-grid-block table {
  margin: auto;
}*/

.gallery-grid-block table,
.gallery-grid-block .one-image td, 
.gallery-grid-block .one-image table {
  margin: auto;
}
