.footer-logo {float: left; margin-left: 25px;}
.footer-logos-container { margin-top: 0em;}

.section-logo img { float: left; height: 30px; margin-right:0.7em; margin-top:-2px; }
.section-name { color: #EB008B; font-size: 1.2em; white-space:nowrap;}
.section-info { color: #2E3192; font-size: .8em; margin-top:-8px; white-space:nowrap;}
