

/************************************************
 * Blocks
 ************************************************/

/**
 * Comics
 */

.block  h2 span.title-outer { padding: 9px 0 11px 0px; }
.block  h2 span.title-inner { margin-right: 13px; padding: 9px 0px 23px 13px;}
.block  h2 { margin-top: 0.7em; margin-bottom:2em; }


/**
 * Blue
 */
.block.blue { border-top: 5px solid #00ADEE;}
.block.blue a:visited, 
.block.blue a, 
.block.blue-fill h2,
.block.blue .views-field-title  { color: #00ADEE; }
.block.blue {background: transparent url("images/blocks/blue.png") repeat-x; }
.block.blue-fill {background: #6DC4D7 url("images/blocks/blue_fill.png"); }
.block.blue h2 span.title-inner { background: transparent url("images/comics/blue_left.png") top left no-repeat; overflow:hidden; white-space:nowrap; }
.block.blue h2 span.title-outer { background: transparent url("images/comics/blue_right.png") top right no-repeat; }
.block.blue-fill h2 span.title-inner { background: transparent url("images/comics/white_left.png") top left no-repeat;} 
.block.blue-fill h2 span.title-outer { background: transparent url("images/comics/white_right.png") top right no-repeat;}
.block.blue-fill {border-color: #285468;}

.block.blue .views-field-tid a { color: #bbb; }
.block.blue .views-field-tid a:hover { color: #00ADEE; text-decoration: none;}

/**
 * Green
 */
.block.green { border-top: 5px solid #7BC043;}
.block.green a:visited, 
.block.green a, 
.block.green-fill h2,
.block.green .views-field-title  { color: #7BC043; }
.block.green {background: transparent url("images/blocks/green.png") repeat-x; }
.block.green-fill {background: #8DC96D url("images/blocks/green_fill.png"); }
.block.green h2 span.title-inner { background: transparent url("images/comics/green_left.png") top left no-repeat; }
.block.green h2 span.title-outer { background: transparent url("images/comics/green_right.png") top right no-repeat; }
.block.green-fill h2 span.title-inner { background: transparent url("images/comics/white_left.png") top left no-repeat;} 
.block.green-fill h2 span.title-outer { background: transparent url("images/comics/white_right.png") top right no-repeat;}
.block.green-fill {border-color: #346828;}

.block.green .views-field-tid a { color: #bbb; }
.block.green .views-field-tid a:hover { color: #7BC043;}

/**
 * Orange
 */
.block.orange { border-top: 5px solid #F15A24;}
.block.orange a:visited, 
.block.orange a, 
.block.orange-fill h2,
.block.orange .views-field-title  { color: #F15A24; }
.block.orange {background: transparent url("images/blocks/orange.png") repeat-x; }
.block.orange-fill {background: #F6BE7B url("images/blocks/orange_fill.png"); }
.block.orange h2 span.title-inner { background: transparent url("images/comics/orange_left.png") top left no-repeat; }
.block.orange h2 span.title-outer { background: transparent url("images/comics/orange_right.png") top right no-repeat; }
.block.orange-fill h2 span.title-inner { background: transparent url("images/comics/white_left.png") top left no-repeat;} 
.block.orange-fill h2 span.title-outer { background: transparent url("images/comics/white_right.png") top right no-repeat;}
.block.orange-fill {border-color: #684228;}

.block.orange .views-field-tid a { color: #bbb; }
.block.orange .views-field-tid a:hover { color: #F15A24;}

/**
 * Pink
 */
.block.pink { border-top: 5px solid #EB008B;}
.block.pink a:visited, 
.block.pink a, 
.block.pink-fill h2,
.block.pink .views-field-title  { color: #EB008B; }
.block.pink {background: transparent url("images/blocks/pink.png") repeat-x; }
.block.pink-fill {background: #EC76BC url("images/blocks/pink_fill.png"); }
.block.pink h2 span.title-inner { background: transparent url("images/comics/pink_left.png") top left no-repeat; }
.block.pink h2 span.title-outer { background: transparent url("images/comics/pink_right.png") top right no-repeat; }
.block.pink-fill h2 span.title-inner { background: transparent url("images/comics/white_left.png") top left no-repeat;} 
.block.pink-fill h2 span.title-outer { background: transparent url("images/comics/white_right.png") top right no-repeat;}
.block.pink-fill {border-color: #6B285A;}

.block.pink .views-field-tid a { color: #bbb; }
.block.pink .views-field-tid a:hover { color: #EB008B;}


/**
 * Common
 */
.block .views-field-tid a {background: none; padding: 0;}
.block .views-field-tid {float: none; padding: 0;}

.block.pink-fill, 
.block.blue-fill, 
.block.green-fill, 
.block.orange-fill { color: white !important; }
 
#wrapper #container div.sidebar .block-views.block.pink-fill .views-field-teaser,
#wrapper #container div.sidebar .block-views.block.blue-fill .views-field-teaser,
#wrapper #container div.sidebar .block-views.block.green-fill .views-field-teaser,
#wrapper #container div.sidebar .block-views.block.orange-fill .views-field-teaser,
.block.pink-fill .views-field-field-date-value,
.block.blue-fill .views-field-field-date-value,
.block.green-fill .views-field-field-date-value,
.block.orange-fill .views-field-field-date-value,

.block.pink-fill a, .block.blue-fill a, .block.green-fill a, .block.orange-fill a, 
.block.pink-fill a:hover, .block.blue-fill a:hover, .block.green-fill a:hover, .block.orange-fill a:hover, 
.block.pink-fill a:visited, .block.blue-fill a:visited, .block.green-fill a:visited, .block.orange-fill a:visited, 
 { color: white !important; }



/**
 * Custom admin links
 */
.block .views-field-edit-node a {background: white; padding:0 5px; float:right; font-size:0.8em; color: #99AF99;letter-spacing:0.07em; text-transform: uppercase; font-weight: bold;}
.block .views-field-edit-node a:hover { color: green; text-decoration: none;}
.block .views-field-delete-node a {background: white; padding:0 5px; float:right; font-size:0.8em; color: #AF999A;letter-spacing:0.07em; text-transform: uppercase; font-weight: bold;}
.block .views-field-delete-node a:hover { color: red; text-decoration: none;}

.block .block-edit-link {z-index: 1000; position: absolute; right: 0;}
.block .block-edit-link a {background: white; padding:0 5px; float:right; font-size:0.8em; color: #99AF99;letter-spacing:0.07em; text-transform: uppercase; font-weight: bold;}
.block .block-edit-link a:hover { color: green; text-decoration: none;}
.block .block-edit-link {display: none;}
.block:hover .block-edit-link {display: inline;}
#header .block:hover .block-edit-link,
#header-top .block:hover .block-edit-link,
#footer .block:hover .block-edit-link {display: none;}


