/* $Id: fix-ie.css,v 1.8.2.1 2008/02/05 09:27:26 goba Exp $ */


body {
  /* Center layout */
  text-align: center;
  /* Allow text resizing */
  font-size: 75%;
}

#header-region, #wrapper #container {
  /* Reset text alignment */
  text-align: left; /* LTR */
}

#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content */
  overflow: hidden;
}


fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative; /* LTR */
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  position: relative;
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

tr.menu-disabled {
  /* Use filter to emulate CSS3 opacity */
  filter: alpha(opacity=50);
}

#header-region {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 1em;
}

tr.taxonomy-term-preview {
  filter: alpha(opacity=50);
}

#attach-hide label, #uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}

#shadow-footer { padding:0; padding-right: 0px;}
body.sidebars #wrapper #container, body.sidebar-left #wrapper #container, body.sidebar-right #wrapper #container { width:944px; padding: 0; }
#shadow-top { border: 0 auto; }
#footer-fade { padding: 0; padding-left: 13px;}
#wrapper #container #footer { margin: 0; padding-bottom: 1em; width: 918px;}

.block  h2 span.title-outer { padding: 0px; }


/**
 * PNG-8 Comics
 */
.block.blue h2 span.title-inner { background-image: url("images/comics/png8/blue_left.png"); }
.block.blue h2 span.title-outer { background-image: url("images/comics/png8/blue_right.png"); }
.block.blue-fill h2 span.title-inner { background-image: url("images/comics/png8/white_left.png");} 
.block.blue-fill h2 span.title-outer { background-image: url("images/comics/png8/white_right.png");}
.block.green h2 span.title-inner { background-image: url("images/comics/png8/green_left.png"); }
.block.green h2 span.title-outer { background-image: url("images/comics/png8/green_right.png"); }
.block.green-fill h2 span.title-inner { background-image: url("images/comics/png8/white_left.png");} 
.block.green-fill h2 span.title-outer { background-image: url("images/comics/png8/white_right.png");}
.block.orange h2 span.title-inner { background-image: url("images/comics/png8/orange_left.png"); }
.block.orange h2 span.title-outer { background-image: url("images/comics/png8/orange_right.png"); }
.block.orange-fill h2 span.title-inner { background-image: url("images/comics/png8/white_left.png");} 
.block.orange-fill h2 span.title-outer { background-image: url("images/comics/png8/white_right.png");}
.block.pink h2 span.title-inner { background-image: url("images/comics/png8/pink_left.png"); }
.block.pink h2 span.title-outer { background-image: url("images/comics/png8/pink_right.png"); }
.block.pink-fill h2 span.title-inner { background-image: url("images/comics/png8/white_left.png");} 
.block.pink-fill h2 span.title-outer { background-image: url("images/comics/png8/white_right.png");}

