body { font-family: Helvetica,Arial,sans-serif;}
body {background: white;}
body.sidebar-right #wrapper #container #center, 
body.sidebar-left #wrapper #container #center, 
body #wrapper #container #center { width:610px; }
body #wrapper #container .sidebar { width:312px;}

#wrapper {background: #76B0CD url("images/layout/wrapper_bg.png") top left repeat-x; padding:20px 0px;}
fieldset {border:1px solid #d9eaf5; background: transparent url("images/layout/gradient-inner.png") repeat-x 0 0; margin:1em 0;padding:1em;}
#shadow { background: url("images/layout/container_bg.png") top center repeat-y;}
#shadow-top { background: transparent url("images/layout/shadow_top.png") top center no-repeat;}
#shadow-footer { background: url("images/layout/footer.png") bottom center no-repeat; }
#footer div.container {  color: white;}
#header-title { height: 140px; width: 918px;}
#block-menu_block-1 li { padding:0 15px; }
#header-top { border-top: 7px solid #333; background: #EEEEEE; border-bottom: 1px solid #ddd; width: auto; }
#header-top .container { width: 918px;}

#header-title { margin-bottom: 0; }

#header-top .inner { width: auto;}
#wrapper #container { padding: 0; }

#header-top .block { display: block; float: right; border: 0;}
#shadow-footer { padding:0 13px;}
#footer-fade { padding: 0px;}
#wrapper #container #header { margin-bottom: 0; }

ul.tabs li a:hover { text-decoration: none;}

/**
 * Header Top Left and Right
 */
#header-top .container { margin: 0;}
#header_top_left, #header_top_right { margin: 0;}
#header_top_left .span-inner, #header_top_right .span-inner { padding: 0;}
#header-top .container .span-12 { width:455px; }
#wrapper #container #header_top_right .block { float: right;}

body.sidebars #wrapper #container,
body.sidebar-left #wrapper #container,
body.sidebar-right #wrapper #container { width:944px; }
body.sidebar-left #center {  margin-left: 0px;}
body.sidebar-right #center {  margin-right: 0px;}
body.sidebars #center {  margin: 0 0px;}
body.sidebars #wrapper #container #center {width: 480px}
body.sidebars #wrapper #container .sidebar { width: 220px;  float: left;  z-index: 2;  position: relative;}
#wrapper #container #footer { text-align: left; padding-top:70px;}
body #wrapper #container .sidebar { width:307px; }

body.sidebar-left #wrapper #container #center,
body.sidebar-right #wrapper #container #center {width: 610px}

#inner-footer { margin: 0; background: #333 url("images/layout/footer_blue.png") no-repeat top left; margin-bottom:0em; padding-left:230px; padding-top:177px; }
#footer .container { background: none; }

.sidebar { border-bottom:1px solid #DDDDDD; }

#wrapper #container #header-top #block-search-0 { padding-bottom:0; margin-bottom: 0; }
#wrapper #container #header-top #block-search-0 input.form-text { font-size:0.9em; height:1.2em; }
#wrapper #container #header-top #block-search-0 .form-button, #wrapper #container #header-top #block-search-0 .form-submit { margin: 0em; }

/**
 * Views Blocks
 */
#block-views-outcomes-block_2  h2 {padding-left: 35px; background: url("images/icons/pictures.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
#block-views-outcomes-block_4  h2 {padding-left: 35px; background: url("images/icons/links.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
#block-views-outcomes-block_3  h2 {padding-left: 35px; background: url("images/icons/documents.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
/*#block-search-0  h2 {padding-left: 35px; background: url("images/icons/search.png") no-repeat 0 0; height: 1.5em; margin-bottom: 0.2em;}*/
#comments  h2.comments {padding-left: 35px; background: url("images/icons/comments.png") no-repeat 0 0; height: 1.5em; margin-bottom: 0.2em;}

.view-id-outcomes .views-field-field-file-fid,
.view-id-outcomes .views-field-field-link-url,
.view-id-outcomes .views-field-field-presentation-embed,
.view-id-outcomes .views-field-field-image-fid-1 { display: block; float: left;  margin-top: .2em; }
.view-id-outcomes .views-field-field-file-fid .outcome-counter {background: url("images/icons/documents_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-link-url .outcome-counter { background: url("images/icons/links_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-image-fid-1 .outcome-counter {background: url("images/icons/pictures_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-presentation-embed .outcome-counter {background: url("images/icons/presentations_small.png") no-repeat 100% 70%; }

.view-id-outcomes .views-field-teaser { padding-top:2.5em; color:#666666; font-size:1em;line-height:1.5em;}

#block-views-partners-block_1 .views-field-field-images-fid img, #block-views-partners-block_1 .views-field-field-image-fid img { border: 0; }

#block-views-outcomes-block_4.block-views .views-field-field-link-url { font-size: 1em; background: url("images/icons/bullet_link.png") no-repeat 0% 50%; padding-left: 20px; margin-left: .7em; }

.outcome-counter {font-size: 1.5em; color: #aaa; margin:0 0.5em; padding-right:20px;}

.sidebar #block-views-articles-block_1.block-views .views-field-created { margin-left: 1em; }
.sidebar #block-views-articles-block_1.block-views .views-field-title span.field-content:before { content: "•"; margin-right: .3em;}

#block-views-articles-block_2, #block-views-events-block_2 { overflow: hidden; padding: 0; margin: 0; border: 0; padding-top: 0.001em; height: 300px;}
#block-views-articles-block_2 img, #block-views-events-block_2 img { overflow: hidden; padding: 0; margin: 0; border: 0;}
#block-views-articles-block_2 .content, #block-views-events-block_2 .content { overflow: hidden; padding: 0; margin: 0;}
#wrapper #container .sidebar #block-views-articles-block_2.block, #wrapper #container .sidebar #block-views-events-block_2.block { padding-top: 0.001em;}
#block-views-articles-block_2 .views-row-1, #block-views-events-block_2 .views-row-1 {margin:0;}

#block-views-partners-block_1 .views-row-even, #block-views-partners-block_1 .views-row-odd { float: left; margin: 0 0em 1em 0; }

td.block {border: 0;}

/**
 * Give20
 */
.view-id-activity_report.view-display-id-block_1 .views-field-title {background: none;color: #2b84bc;}
.view-id-activity_report.view-display-id-block_1 .views-row-odd, 
.view-id-activity_report.view-display-id-block_1 .views-row-even {float:left; width: 530px; overflow: hidden; }
.view-id-activity_report.view-display-id-block_1 .views-field-field-images-fid {height: 65px; float: left;}
.view-activity-report.view-display-id-page_1 .views-field-field-images-fid {height: 83px; float: left;}
.view-activity-report.view-display-id-page_1 .views-field-field-images-fid .field-item, 
.view-id-activity_report.view-display-id-block_1 .views-field-field-images-fid .field-item { float: left; margin-right: 10px; }
.view-id-activity_report.view-display-id-block_1 .views-row-odd, 
.view-id-activity_report.view-display-id-block_1 .views-row-even { margin-bottom: 0px;}
.node .field-type-filefield.field-field-images img { float:left; margin:1px; }

/**
 * Footer
 */
.colborder { border-right:1px solid #444; }
#wrapper #container #footer { margin: 0; padding-bottom: 1em; width: 918px; }
#footer div.container a { color: #a7a7a7;}
#footer h2 { color: white;}
#footer .span-23 { width:670px; }
#footer .span-7 { width:300px; }
#footer .container { margin:0 auto; width:680px; }

.footer-logo { float:left; margin-left: 15px; margin-top: 15px; }

/**
 * Custom fixes
 */
#block-menu-menu-quick-links ul { margin: 0;}
#block-menu-menu-quick-links li { margin-top: 0;}

#center .container, #center .span-8, #center .span-inner {margin: 0; padding: 0;}
#center .colborder { border-right:1px solid #ddd; }
#center .container .span-8 { width:305px;}
#center .container {width: 611px; overflow: hidden;}

#header-top  #block-ya_satellite_blocks-1 { float:left; width:313px; }

.mini.has-events { background: #7BC043; }
.mini.has-events a { color: white; text-decoration: none; }
.calendar-calendar tr td { padding-right: 12px; }
/*.view.view-calendar.view-id-calendar { overflow-x: scroll;}*/
.calendar-calendar th.days { background-color:#EEEEEE; border:medium none; }
.calendar-calendar .year-view td table td { padding-bottom:0; padding-left:0; padding-right:7px; width:13%; }
.calendar-calendar div.day { background: transparent; font-weight: bold;}
.calendar-calendar td div.day { border-style:none none solid solid; border-width:0; }

.node { border: 0; border-bottom: none;}
#wrapper #container .sidebar { margin: 0; }
#comments { border-bottom: none; }

ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover, ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover { background: #00ADEE; color:#FFFFFF; }

/**
 * Advanced Help
 */
#block-search-0 .advanced-help-link { display: inline; float: none;  padding: 0px; padding-right: 12px; width: 12px; height: 12px; background-position: 0 2px; }
.advanced-help-link span { display: none; }
.advanced-help-link { margin: 2px; }

.views-field-field-teaser-value { line-height: 1.4em; font-size: 1em;}
.views-field-title { font-size:1.3em; }

.block .views-field-field-date-value,
.block .views-field-created,
.block .views-field-title,
.block .views-field-field-teaser-value { padding-left: 0; }

#block-views-partners-block_1 .views-field-title,
#block-views-partners-block_1 .views-field-field-link-url,
#block-views-partners-block_1 .views-field-tid { padding-left:110px; }

.view-partners.view-display-id-page_1 .views-row-even, .view-partners.view-display-id-page_1 .views-row-odd {margin-bottom: 2em;}
.view-partners.view-display-id-page_1 p {margin-bottom: .7em;}
.view-partners.view-display-id-page_1 .views-field-title,
.view-partners.view-display-id-page_1 .views-field-body,
.view-partners.view-display-id-page_1 .views-field-field-link-url,
.view-partners.view-display-id-page_1 .views-field-tid, 
.view-partners.view-display-id-page_1 .views-field-field-address-value { padding-left:112px; }

ul.pager a:hover, ul.pager a:focus, ul.pager a:active, ul.pager li.pager-current { background:#00ADEE; }
.node .field-field-date { margin-bottom: 1.2em; }

.views-field-tid { line-height: 1.2em; color:#EEEEEE; float:right; line-height:1.2em; margin-top:0.7em; }
.views-field-tid a { text-transform:uppercase; font-size: .8em; font-weight: bold; color: #bbb; }
.views-field-tid a:hover { text-decoration: none;}
.views-field-tid a  { background: transparent url("images/tags/tag_blue.png") top left no-repeat; font-weight: bold; text-transform: uppercase; color: white; font-size: .8em; padding: 0.3em 0.5em 0.2em 13px;}
.views-field-tid a:hover  {  padding-left: 13px;  background: transparent url("images/tags/tag_green.png") top left no-repeat; text-decoration: none;}

/**
 * Theming for Custom Modules
 */
#block-fbconnect-0 .picture { float: left; padding-left: 0em;}
#block-ya_satellite_blocks-1 { float: right; }

/**
 * Common
 */
#header-top .block .inner, #header .block .inner, #footer .block .inner { background: none; }
#header-top .block, #header .block, #footer .block { background: none; }
#header-top .block, #header .block { padding-top: 0;}
#footer .block  h2 span.title-inner { margin: 0; padding:0; background-image: none; }
#footer .block  h2 span.title-outer { padding: 0; background-image: none; }
#footer .block  h2 {margin-top: 0em; margin-bottom:1.2em; }

.block h2 {color: white;}
.block { border-bottom: 0; }
#sidebar-right .block, #sidebar-left .block, #center .block {padding: 2em 0;}
#block-views-spotlights-block_1 .inner { background-image: none; padding: 0;}
#header-top .block .inner { float:none;padding:0;width: auto; }

#wrapper #container .block,
#wrapper #container .sidebar .block { padding-top: 0; margin-bottom: 0;}
.block .inner { padding-top: 1.2em; margin-bottom: 0;}


/**
 * Spotlight
 */
#block-views-spotlights-block_1 .view-id-spotlights .views-row-odd, 
#block-views-spotlights-block_1 .view-id-spotlights .views-row-even { margin: 0; }
#block-views-spotlights-block_1.block { margin-bottom: 0; background: none; padding: 0; border-top: 0; }
#block-views-spotlights-block_1 .views-field-created {margin-bottom: 0; font-size: 1em;}
#block-views-spotlights-block_1 .views-field-title { color: white; margin-bottom: .3em; text-transform: uppercase; font-weight: bold;}
#block-views-spotlights-block_1 .views-field-title a { color: white;} 
#block-views-spotlights-block_1 .views-field-title a:hover { text-decoration: underline;} 
#block-views-spotlights-block_1 .spotlight-content { padding-top: 100px; padding-right: 0;}
#block-views-spotlights-block_1 .black-div { background: white; opacity: .85; color: white; height: 80px; }
#block-views-spotlights-block_1 .black-div-inner { padding: 15px 25px 0; line-height: 1.35em; }
#block-views-spotlights-block_1 .spotlight-navigation { position: absolute; z-index: 1000; padding: 0px 5px 0 5px; top: 215px;}
#block-views-spotlights-block_1 .spotlight-navigation a {opacity: .5;}
#block-views-spotlights-block_1 .spotlight-navigation a:hover {opacity: 1;}
#block-views-spotlights-block_1 .spotlight-navigation.prev { left: 0px; } 
#block-views-spotlights-block_1 .spotlight-navigation.next { right: 0px; } 
#block-views-spotlights-block_1 .views-field-view-node {position: absolute; bottom: 5px; right: 15px;}
#block-views-spotlights-block_1 .views-field-view-node a, #block-views-spotlights-block_1 .views-field-view-node a:hover { color: white;}
#block-views-spotlights-block_1 .views-field-view-node a:hover  {text-decoration: underline;}
#block-views-spotlights-block_1 .views-field-tid { float: right;}
#block-views-spotlights-block_1 .views-field-tid a  { padding-left: 5px; color: #fff; background: transparent; }
#block-views-spotlights-block_1 .views-field-tid a:hover  { background: transparent; }

/**
 * Feedback
 */
#block-feedback-form.block { background: none;} 
#block-feedback-form.block .block-edit-link { display: none; }
textarea.form-textarea.feedback-message { width: 300px;}
.feedback-link { font-weight: bold;}

.social_link { float: left; margin-right: 7px;}

/**
 * Nice Menu
 */
/*ul.nice-menu li a {font-weight: bold;}*/
ul.nice-menu li, ul.nice-menu li.leaf { padding: 0; }
ul.nice-menu-down li { border-top: 0px solid #CCCCCC; }
ul.nice-menu-down li.menuparent, #header-region ul.nice-menu-down li.menuparent,
ul.nice-menu li { background: none; text-transform:uppercase; border:none; border-width:0; margin-right: 0.5em;  }
ul.nice-menu-down li.menuparent a, #header-region ul.nice-menu-down li.menuparent a,
ul.nice-menu li a { padding:7px 0 10px 0px; color: white; }
ul.nice-menu ul, #header-region ul.nice-menu ul { top: 2.1em; border: 0; }

ul.nice-menu-down li.menuparent:hover, #header-region ul.nice-menu-down li.menuparent:hover,
ul.nice-menu li:hover {background: none; color: white;}
ul.nice-menu-down li.menuparent a:hover, #header-region ul.nice-menu-down li.menuparent a:hover
{background: none; color: white;}

ul.nice-menu li.menuparent ul li a span, 
ul.nice-menu li ul li.menuparent ul li a span, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a span, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a span, 
ul.nice-menu li ul li a span { background: none; background-image: none; height: auto; padding: 0;}
ul.nice-menu li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a, 
ul.nice-menu li ul li a { margin: 0; background: #00ADEE; background-image: none; height: auto;  padding: 10px;}

ul.nice-menu li.menuparent ul li a:hover span, 
ul.nice-menu li ul li.menuparent ul li a:hover span, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a:hover span, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a:hover span, 
ul.nice-menu li ul li a:hover span { background: none; background-image: none; height: auto; }
ul.nice-menu li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a:hover,
ul.nice-menu li ul li a:hover { margin: 0; background: #7BC043; background-image: none;  padding: 10px;}

ul.nice-menu { margin-bottom: .7em; } 
ul.nice-menu li.menuparent a,
ul.nice-menu li a { color: white; background: transparent url("images/navigation/blue_right.png") top right no-repeat; }
ul.nice-menu li a span { color: white; background: transparent url("images/navigation/blue_left.png") top left no-repeat; }
ul.nice-menu li.menuparent a:hover,
ul.nice-menu li a:hover { color: white; background: transparent url("images/navigation/green_right.png") top right no-repeat; }
ul.nice-menu li a:hover span { color: white; background: transparent url("images/navigation/green_left.png") top left no-repeat; }
ul.nice-menu ul li, ul.nice-menu ul li.menuparent { border-bottom: 1px solid #0099CF; }
ul.nice-menu li a.active { background: transparent url("images/navigation/green_right.png") top right no-repeat; }
ul.nice-menu li a.active span { background: transparent url("images/navigation/green_left.png") top left no-repeat; }

ul.nice-menu li.menuparent a, ul.nice-menu li a { padding: 0; padding-bottom: 9px; height: 30px; display: block;}
ul.nice-menu li a span { color: white; margin-right: 9px; padding: 9px; padding-right: 0; display: block; height: 30px;  }
ul.nice-menu li.menuparent li a { height: 30px;}

/*ul.nice-menu li a, ul.nice-menu li.menuparent a { display: block; width: 0 auto;}*/


ul.nice-menu-down li li.menuparent, #header-region ul.nice-menu-down li li.menuparent { background: none;}

#center a:hover, .sidebar a:hover { text-decoration: underline; }
	
#block-nice_menus-1 .block .content { margin: 0;}

ul li, ul.menu li, .item-list ul li, li.leaf { background:transparent url(images/menu-leaf.gif) no-repeat scroll 1px 0.35em; }
ul li.collapsed { background:transparent url(images/menu-collapsed.gif) no-repeat scroll 0 0.35em; }
ul li.expanded { background:transparent url(images/menu-expanded.gif) no-repeat scroll 1px 0.35em; }

.terms ul.links.inline li {padding-left: .2em;}
.terms ul.links.inline li a { color: white; background: transparent url("images/tags/tag_blue.png") top left no-repeat; font-weight: bold; text-transform: uppercase; font-size: .8em; padding: 0.3em 0.5em 0.2em 13px;}
.terms ul.links.inline li a:hover {  padding-left: 13px;  background: transparent url("images/tags/tag_green.png") top left no-repeat; text-decoration: none;}


/*.advanced-help-link { display:inline; float:right; height:12px; margin-left:6px; margin-top:-16px; padding:0; width:12px;}*/

#block-feedback-form .content { width: 320px; }

/**
 * Event Location
 */
.block.block-gmap_location.blue,
.block.block-gmap_location.orange,
.block.block-gmap_location.pink,
.block.block-gmap_location.green { 
	background: none; 
	border-top: none;
	}
	
.block.block-gmap_location .content {
	border: 3px solid #ddd;
	}

.node h3 { 
	clear: both;
	}

/**
 * Events
 */
.calendar-calendar tr td.today, 
.calendar-calendar tr.odd td.today, 
.calendar-calendar tr.even td.today { 
	background: #F37B20;
	}
	
td.today a { font-weight: bold; color: white !important;}
td.has-events a { color: white !important; }


/**
 * Links
 */
div.meta,
div.links { clear: both; float: right; margin: .7em;}
div.links ul.links.inline li {
	margin: .3em;
	background: transparent url("images/links_left.png") top right no-repeat;
	padding: 0px 8px 8px 0;
	display: block;
	float: left;
	}
div.links ul.links.inline li a,
div.links ul.links.inline li a:visited,
div.links ul.links.inline li a:active {
	display: block;
	color: white;
	background: transparent url("images/links_right.png") top left no-repeat;
	padding: 2px 0px 8px 8px;
	white-space: nowrap !important;
	}

