
body {background: white;}
#wrapper {background: #76B0CD url(images/layout/wrapper_bg.png) top left repeat-x; padding:20px 15px;}
fieldset {border:1px solid #d9eaf5; background: transparent url(images/layout/gradient-inner.png) repeat-x scroll 0 0; margin:1em 0;padding:1em;}
#shadow { background: url(images/layout/container_bg.png) top center repeat-y;}
#shadow-top { background: url(images/layout/shadow_top.png) top center no-repeat;}
#shadow-footer { background: url(images/layout/footer.png) bottom center no-repeat; }
#footer div.container {  color: white;}
#header-title { height: 206px;}
#block-menu_block-1 li { padding:0 15px; }
#header-top { border-top: 7px solid #333; background: #EEEEEE; border-bottom: 1px solid #ddd; float: left; width: 923px;}
#header-top .block { display: block; float: right;}
#header-top .inner { padding: .8em;  float: left; width: 900px; }
#shadow-footer { padding:0 14px 13px; }
#wrapper #container #header { margin-bottom:1.2em; }


/* Same size everywhere */
body.sidebar-right #wrapper #container #center, 
body.sidebar-left #wrapper #container #center, 
body #wrapper #container #center { width:610px; }
body #wrapper #container .sidebar { width:310px;}
/*
body.frontpage #wrapper #container #center { width:608px; }
body.frontpage #wrapper #container .sidebar { width:314px;}
*/

#inner-footer { background: #333 url("images/layout/footer_blue.png") no-repeat top left; margin-top:180px; margin-bottom:0.4em; padding-left:241px; padding-top:177px; }
#footer .container { background: #333; }

.sidebar { border-bottom:1px solid #DDDDDD; }

#wrapper #container #header-top #block-search-0 { padding-bottom:0; margin-bottom: 0; }
#wrapper #container #header-top #block-search-0 input.form-text { font-size:0.9em; height:1.2em; }
#wrapper #container #header-top #block-search-0 .form-button, #wrapper #container #header-top #block-search-0 .form-submit { margin: 0em; }

/**
 * Views Blocks
 */
#block-views-outcomes-block_2  h2 {padding-left: 35px; background: url("images/icons/pictures.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
#block-views-outcomes-block_4  h2 {padding-left: 35px; background: url("images/icons/links.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
#block-views-outcomes-block_3  h2 {padding-left: 35px; background: url("images/icons/documents.png") no-repeat 0 0; height: 1.5em;margin-bottom: 0.2em;}
/*#block-search-0  h2 {padding-left: 35px; background: url("images/icons/search.png") no-repeat 0 0; height: 1.5em; margin-bottom: 0.2em;}*/
#comments  h2.comments {padding-left: 35px; background: url("images/icons/comments.png") no-repeat 0 0; height: 1.5em; margin-bottom: 0.2em;}


.view-id-outcomes .views-field-field-file-fid,
.view-id-outcomes .views-field-field-link-url,
.view-id-outcomes .views-field-field-presentation-embed,
.view-id-outcomes .views-field-field-image-fid-1 { display: block; float: left;  margin-top: .2em; }
.view-id-outcomes .views-field-field-file-fid .outcome-counter {background: url("images/icons/documents_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-link-url .outcome-counter { background: url("images/icons/links_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-image-fid-1 .outcome-counter {background: url("images/icons/pictures_small.png") no-repeat 100% 70%; }
.view-id-outcomes .views-field-field-presentation-embed .outcome-counter {background: url("images/icons/presentations_small.png") no-repeat 100% 70%; }


.view-id-outcomes .views-field-teaser { padding-top:2.5em; color:#666666; font-size:1em;line-height:1.5em;}

#block-views-partners-block_1 .views-field-field-images-fid img, #block-views-partners-block_1 .views-field-field-image-fid img { border: 0; }

#block-views-outcomes-block_4.block-views .views-field-field-link-url { font-size: 1em; background: url("images/icons/bullet_link.png") no-repeat 0% 50%; padding-left: 20px; margin-left: .7em; }

.outcome-counter {font-size: 1.5em; color: #aaa; margin:0 0.5em; padding-right:20px;}

.sidebar #block-views-articles-block_1.block-views .views-field-created { margin-left: 1em; }
.sidebar #block-views-articles-block_1.block-views .views-field-title span.field-content:before { content: "•"; margin-right: .3em;}

#block-views-articles-block_2, #block-views-events-block_2 { overflow: hidden; padding: 0; margin: 0; border: 0; padding-top: 0.001em; height: 300px;}
#block-views-articles-block_2 img, #block-views-events-block_2 img { overflow: hidden; padding: 0; margin: 0; border: 0;}
#block-views-articles-block_2 .content, #block-views-events-block_2 .content { overflow: hidden; padding: 0; margin: 0;}
#wrapper #container .sidebar #block-views-articles-block_2.block, #wrapper #container .sidebar #block-views-events-block_2.block { padding-top: 0.001em;}
#block-views-articles-block_2 .views-row-1, #block-views-events-block_2 .views-row-1 {margin:0;}

#block-views-partners-block_1 .views-row-even, #block-views-partners-block_1 .views-row-odd { display: block; float: left; margin: 0 1em 1em 0; width: auto; }

.view-id-partners.view-display-id-page_1 .views-field-field-image-fid {float: none;}
.view-id-partners.view-display-id-page_1 td {text-align: center;}
.view-id-partners.view-display-id-page_1 .views-field-title a { font-size: 1.2em; color: #555; }

td.block {border: 0;}


/**
 * Footer
 */
.colborder { border-right:1px solid #444; }
#footer div.container a { color: #a7a7a7;}
#footer h2 { color: white;}
#footer .span-23 { width:670px; }
#footer .span-7 { width:300px; }
#footer .container { margin:0 auto; width:680px; }
#wrapper #container #footer { margin-top: 0; }

/**
 * Custom fixes
 */
#cck-complete-percent-bar-wrapper-setting { background:#FFFFFF none repeat scroll 0 0;border:1px solid #AAAAAA;padding:1px;width:100%;}
#block-menu-menu-quick-links ul { margin: 0;}
#block-menu-menu-quick-links li { margin-top: 0;}

#center .container, #center .span-8, #center .span-inner {margin: 0; padding: 0;}
#center .colborder { border-right:1px solid #ddd; }
#center .span-8 { width:305px;}

/**
 * Nice Menu
 */
ul.nice-menu li, ul.nice-menu li.leaf { padding: 0; }
ul.nice-menu-down li { border-top: 0px solid #CCCCCC; }
ul.nice-menu-down li.menuparent, #header-region ul.nice-menu-down li.menuparent,
ul.nice-menu li { text-transform:uppercase; background: transparent url("images/navigation/blue_right.png") top right no-repeat; border:none; border-width:0; float:left; margin-right: 0.5em; padding-right: 10px; }
ul.nice-menu-down li.menuparent a, #header-region ul.nice-menu-down li.menuparent a,
ul.nice-menu li a { padding:7px 0 10px 10px; color: white; background: transparent url("images/navigation/blue_left.png") top left no-repeat; }
ul.nice-menu ul, #header-region ul.nice-menu ul { top: 2em; border: 0; }

ul.nice-menu-down li.menuparent:hover, #header-region ul.nice-menu-down li.menuparent:hover,
ul.nice-menu li:hover {background: transparent url("images/navigation/green_right.png") top right no-repeat; color: white;}
ul.nice-menu-down li.menuparent a:hover, #header-region ul.nice-menu-down li.menuparent a:hover,
ul.nice-menu li a:hover {background: transparent url("images/navigation/green_left.png") top left no-repeat; color: white;}

ul.nice-menu li.menuparent ul li, 
ul.nice-menu li ul li.menuparent ul li, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li, 
ul.nice-menu li ul li { background: #00ADEE; background-image: none; }
ul.nice-menu li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a, 
ul.nice-menu li ul li a { margin: 0; background: #00ADEE; background-image: none; }

ul.nice-menu li.menuparent ul li:hover, 
ul.nice-menu li ul li.menuparent ul li:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li:hover, 
ul.nice-menu li ul li:hover { background: #7BC043; background-image: none; }
ul.nice-menu li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li a:hover, 
ul.nice-menu li ul li.menuparent ul li.menuparent ul li.menuparent ul li a:hover,
ul.nice-menu li ul li a:hover { margin: 0; background: #7BC043; background-image: none;  }

#block-nice_menus-1 .block .content { margin: 0;}


/*#block-nice_menus-1 ul.nice-menu-down li.menuparent { background: #00ADEE url("images/bullet_blue.png") no-repeat 94% 37%; }
#block-nice_menus-1 ul.nice-menu-down ul li.menuparent { background: #00ADEE url("images/bullet_blue.png") no-repeat 94% 50%; }
*/
/*ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.over,
#block-nice_menus-1 ul.nice-menu-down li.over { background: #8DC96D url("images/bullet_green.png") no-repeat 94% 37%; }
#block-nice_menus-1 ul.nice-menu-down ul li.over { background: #8DC96D url("images/bullet_green.png") no-repeat 94% 50%; }
*/
/*ul.nice-menu li.menu-path-front {background-color: #F37B20;}*/

/*#block-nice_menus-1 .inner {padding: 0.2em;}*/

ul li, ul.menu li, .item-list ul li, li.leaf { background:transparent url(images/menu-leaf.gif) no-repeat scroll 1px 0.35em; }
ul li.collapsed { background:transparent url(images/menu-collapsed.gif) no-repeat scroll 0 0.35em; }
ul li.expanded { background:transparent url(images/menu-expanded.gif) no-repeat scroll 1px 0.35em; }